header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}



.logo {
    box-sizing: border-box;
    display: flex;
    width: fit-content;
}

.logo img {
    height: 100%;
    width: 154px;
}

.nav__menu {
    display: flex;
    align-items: center;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 452.28px;
}

.nav__link {
    color: rgb(51, 49, 33);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.nav__btn {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-left: 12px;
}

.nav__btn .btn {
    align-items: center;
    background-color: rgb(70, 79, 46);
    border: 1px solid rgb(70, 79, 46);
    border-radius: 5px;
    color: white;
    display: flex;
    font-size: inherit;
    padding: 5px 15px;
    width: fit-content;
}

.nav__item {
    list-style-type: none;
    padding: 2px auto;
    margin-top: 0px;
}
